<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chaisyncB.android_client_socketioB">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/chai_logo"
        android:label="@string/app_name"
        android:name="com.chaisyncB.android_client_socketioB.ChaisyncApplication"
        android:roundIcon="@mipmap/chai_logo_r"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.chaisyncB.android_client_socketioB.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>